version: '3.8'

services:
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: contact_db
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - 'mysql_data:/var/lib/mysql'
    restart: always

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - 'redis_data:/data'
    restart: always

volumes:
  mysql_data:
    driver: local
  redis_data:
    driver: local
